/ {
    servo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(900)>;
        max-pulse = <PWM_USEC(2100)>;
    };
};

&pwm2 {
    pinctrl-0 = < &tim2_ch1_pa15 >;
};